/* CSS reset */

*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    background: url('assets/earth1.jpg') no-repeat center center fixed;
    background-size: cover;
}

.page_all{    
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    text-align: center;
    scroll-behavior: smooth;
    overflow-y:scroll ;
}

.navbar {
    display: flex;
    position:fixed;
    width: 100vw;
    justify-content: center;
    background-color: rgba(0, 0, 0, .7);
}


.linav {
    list-style-type: none;
    display: inline;
    padding: 5px;
    font-size: 20px;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

.navlink {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 700;
}

.navlink:hover {
    text-shadow: 0px 0px 4px rgb(139, 218, 255),
                 0px 0px 5px rgb(122, 153, 246),
                 0px 0px 6px rgb(77, 71, 255);
}

.hello{
    display: flex;
    font-size: 115px;
    justify-content: center;
    position: relative;
    justify-items: center;
    text-shadow:  rgb(139, 218, 255) 0px 0px 20px,
    rgb(162, 157, 250) 0px 0px 30px,
    rgb(200, 187, 255) 0px 0px 30px; 

}



.about { 
    margin-top: 120px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 700px;
    height:68%;
    border-radius: 10px;
    max-width: calc(100vw - 30px);
    box-shadow: rgb(139, 218, 255) 0px 0px 20px,
                rgb(162, 157, 250) 0px 0px 30px,
                rgb(200, 187, 255) 0px 0px 80px;
    color: black;
}

.name {
    font-size: 30px;
    font-weight:bold;
}

.img {
   margin-top: -60px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 1px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(139, 218, 255) 0px 0px 10px,
                rgb(162, 157, 250) 0px 0px 10px,
                rgb(200, 187, 255) 0px 0px 10px;
    transition: 0.5s;

}

.img:hover {
    margin-top: 20px;
    transform: scale(2.3);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    box-shadow: rgb(139, 218, 255) 0px 0px 10px,
                rgb(162, 157, 250) 0px 0px 10px,
                rgb(200, 187, 255) 0px 0px 10px;
                
}

.codeberry {
    text-decoration: none;
    color: blue;
}

.content {
    padding: 10px;
}


.contact{ 
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: rgb(139, 218, 255) 0px 0px 20px,
                rgb(162, 157, 250) 0px 0px 30px,
                rgb(200, 187, 255) 0px 0px 80px;
    color: black;

}

.contact_text{
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}

.icons{
    list-style-type: none;
    padding:20px
    
}
.icon1, .icon2, .icon3 {
    display: inline;
}

.social-icon {
    color: rgba(42, 42, 192, 0.783);
    padding: 20px;
}

.css {
    padding-top: 50px;
    }